<% [:success, :info, :notice, :warning, :alert, :danger].each do |type| %>
  <% if flash[type] %>
    <% msg_type = "success" %>
    <% msg_type = "danger" if type == :danger %>
    <% msg_type = "warning" if [:warning, :alert].include?(type) %>
    <div class="alert alert-<%= msg_type %> text-center">
      <a class="close" href="" data-dismiss="alert">| &times;</a>
      <%= flash[type] %>
    </div>
  <% end %>
<% end %>
