<a class="list-group-item" href="<%= event_path(event) %>">
  <div class="list-group-item-content">
    <div class="list-group-item-heading">
      <b><%= event.topic %>
    </div>
    <div class="text-muted">
      <%= event.owner.full_name %>
    </div>
  </div>
</a>
