<% if flash[:notice] %>
  <div class="alert alert-success">
    <button class="close" type="button" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger">
    <button class="close" type="button" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-warning">
    <button class="close" type="button" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
<% end %>

